@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1{
    color: aliceblue;
    margin-top: 30px;
    margin-left: 80px;
    font-family: "Poppins", sans-serif;

}

.top-bar{
    position: fixed;
    top: 0;
    width: 5000px;
    height: 100px;
    background-color: rgba(34, 34, 34, 0.717);
    z-index: -1;
}
.authors{
    margin-top: 100px;
    position: fixed;
}
p{

    font-family: "Poppins", sans-serif;
}


body{
    margin-left: 0;
    left: 0;
    position:fixed;
    background-color: rgb(255, 255, 255);
}

.logo{
    margin-top: 15px;
    margin-left: 10px;
    filter: invert(100%);
    position: fixed;
    width: 55px;
}

.Buttons{

    position: fixed;
    top: 40px;
    right: 20px;
}

button{

    border: 0;
    padding:10px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.page-elements{
    position: absolute;
    top: 180px;
    
}

.characters{

    font-size: 80px;
}

.sheild{

    width: 150px;

}